.sidebar-cart {
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 5px 5px 50px var(--dark-color);
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    display: none;
}

.sidebar-cart::-webkit-scrollbar {
    display: none;
}

.sidebar-cart .sidebar-product {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--light-color);
    justify-content: space-between;
    padding: 0.5rem;
    gap: 0.5rem;
}

.sidebar-cart .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.sidebar-cart .top button, .sidebar-cart .sidebar-product button {
    background-color: var(--dark-color);
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;

}

.sidebar-cart .sidebar-product button {
    width: 1rem;
    height: 1rem;
}

.sidebar-cart .sidebar-product img {
    height: 75px;
}

.sidebar-cart .total-container {
    margin-block: 1rem;
}

.sidebar-cart .left-side {
    display: flex;
    gap: 0.5rem;

}

.sidebar-cart .left-side .details {
    display: flex;
    flex-direction: column;
}

.sidebar-cart .left-side .details p {
    font-size: 0.8rem;

}

.sidebar-cart .left-side input {
    width: 55px;
    margin-top: 0.25rem;
    padding: 0.2rem;
}

.sidebar-cart.show {
    display: block;
}