

.orders-page {
    max-width: 1100px;
    margin: 2rem auto;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .order-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
    overflow: hidden;
  }
  
  .order-date {
    background: #ffffff;
    padding: 1.2rem;
    font-size: 1rem;
    color: #666;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .order-info {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .order-status {
    color: #0a8f08;
    font-size: 0.95rem;
  }
  
  .order-status .status {
    font-weight: 600;
    display: block;
  }
  
  .order-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  
  .order-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    justify-content: space-between;
    transition: background 0.2s;
  }

  .order-item:hover {
    background: #f9f9f9;
  }

  .product-details-order {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.3rem;    
  }
  
  .order-item-img {

    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #eee;
  }
  
  .order-item-info {
    display: flex;
    flex-direction: column;
  }
  
  .item-name {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
  }
  
  .item-details p {
    font-size: 0.9rem;
    color: #666;
  }
  
  .order-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
  }
  
  .btn-view,
  .btn-rebuy {
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .btn-view {
    background: #007bff;
    color: white;
  }
  
  .btn-rebuy {
    background: #e9f2ff;
    color: #007bff;
  }
  
  .btn-view:hover {
    background: #0062d6;
  }
  
  .btn-rebuy:hover {
    background: #dce9ff;
  }