:root {
    --primary-color: #029aff;
    --secondary-color: #1266c7;
    --dark-primary-color: #00315f;
    --dark-secondary-color: #1b5285;
    --light-color: #e9e9e9;
    --dark-color: #2c2c2c;
  }

.product {
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.product .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.8rem;
    background-color: var(--primary-color);
    color: #ffff;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.2s;
}

.btn-icon:hover {
    background-color: var(--dark-primary-color);
}

.add-to-cart-btn {
    background-color: var(--secondary-color);
}

.add-to-cart-btn:hover {
    background-color: var(--dark-secondary-color);
}

.product .name {
    font-weight: bold;
    margin-top: 0.4rem;
}

.product .price {
    margin-top: 0.4rem;
}

.product .price span {
    font-weight: bold;
}

.product .rate {
    color: var(--dark-secondary-color);
    font-size: 1.3rem;
}

.price-rate {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .product .name, .product .price, .product .rate {
        max-width: 15rem;
        overflow: hidden;
        font-size: 0.8rem;
    }
}