@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Ramaraja&display=swap');

:root {
  --primary-color: #029aff;
  --secondary-color: #ffffff;
  --dark-primary-color: #00315f;
  --dark-secondary-color: #1b5285;
  --light-color: #e9e9e9;
  --dark-color: #2c2c2c;
}

.nav {
  background-color: #fff;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 10px 0px 10px #ebebeb;
  z-index: 2;
}

.nav .inner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin-inline: auto;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.logo a h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: var(--primary-color);
}

.logo a h1 span {
  color: var(--dark-color);
}

.logo a img {
  height: 45px;
  width: 45px;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3rem;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: var(--primary-color);
}

nav ul li a:hover::after {
  width: 100%;
}

.navs-icon-container {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-bottom: 1px solid var(--dark-color);
  padding: 0.5rem;
}

.search-input-container input {
  border: none;
  outline: none;
}

.search-input-container svg {
  height: 1rem;
  color: #808080;
}

.shopping-cart {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.products-count {
  position: absolute;
  background-color: red;
  width: 1rem;
  height: 1rem;
  bottom: -6px;
  left: -6px;
  border-radius: 50%;
  color: #fff;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  align-items: center;
}

.login-link {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  padding: 0.45rem 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-link:hover {
  background-color: var(--dark-secondary-color);
}

.account-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
  height: 2.3rem;
  padding: 0 0.5rem;
  border-radius: 10px;
  transition: all .3 ease;
}

.circle-account {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border: 2px solid var(--dark-primary-color);
  border-radius: 50%;
}

.account-container p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.account-container:hover {
  color: #1b5285;
}

.account-container svg {
  color: var(--dark-primary-color);
}

.dropdown-user-menu {
  position: absolute;
  top: 115%;
  right: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-width: 180px;
  padding: 0.8rem;
  z-index: 10;
  animation: fadeInUp 0.25s ease;
}

.user-option {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.user-option:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.user-option.logout {
  color: red;
}

.user-option.logout:hover {
  background-color: #ffecec;
}

.dropdown {
  position: relative;
}

.dropdown-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}

.dropdown-title:hover {
  color: var(--primary-color);
}

.dropdown-section h4 {
  color: var(--dark-primary-color);
}

.dropdown-menu {
  position: absolute;
  top: 150%;
  left: 0;
  background: #fff;
  display: flex;
  gap: 2rem;
  padding: 1.2rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 5;
  min-width: 350px;
}

.dropdown.open .dropdown-menu {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.menu-button {
  display: none;
}

@media (max-width: 920px) {
  .nav {
    padding: 0;
  }

  .account-container p {
    display: none;
  }
  
  .navs-icon-container {
    gap: .6rem;
  }

  .nav .inner-content {
    padding: 10px;
  }

  nav {
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding-bottom: 1rem;
    display: none;
  }

  nav.show {
    display: block;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .menu-button {
    display: inline;
  }
}

@media (max-width: 580px) {
  .search-input-container {
    display: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
