.exclusive-section {
    background: linear-gradient(135deg, var(--primary-color), var(--accent-color));
}

.exclusive-section .content {
    display: flex;
    align-items: center;
    color: white;
    flex-direction: row-reverse;
    padding: 5rem 1rem;

}

.exclusive-section .content .left-side {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.exclusive-section .content .left-side .product-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.3rem;
}

.exclusive-section .content .left-side p {
    text-align: left;
}

.exclusive-section .content .right-side img {
    max-width: 500px;
    margin-right: 40px;
}

.exclusive-section .content .left-side .see-more-btn {
    background: linear-gradient(90deg, #ff5f6d, #ff8e53); /* Gradiente laranja-avermelhado */
    color: #fff;
    border: none;
    border-radius: 50px; 
    padding: 0.9rem 2rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    max-width: 11.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }
  

  .exclusive-section .content .left-side .see-more-btn:hover {
    transform: scale(1.05);
    max-width: 12.6rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #ff8e53, #ff5f6d);
  }
  

@media (max-width: 800px) {
    .exclusive-section .content {
        flex-direction: column-reverse;
    }

    .exclusive-section .content .right-side img {
        max-width: 280px;
        margin-bottom: 3rem;
    }

    .exclusive-section .content .left-side .product-content {
        font-size: 1rem;
    }
    
}
