@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #029aff;
  --secondary-color: #ffff;
  --dark-primary-color: #00315f;
  --dark-secondary-color: #1b5285;
  --light-color: #e9e9e9;
  --dark-color: #2c2c2c;
  --footer-color: #62abf0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-color)
}

a {
  text-decoration: none;
  color: unset;
}

h3 {
  font-weight: 600;
  color: #3096da;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.page-inner-content {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 1rem;
}

.section-tittle {
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.section-tittle h3 {
  text-align: center;
  font-size: 1.8rem;
}

.section-tittle .underline {
  width: 150px;
  height: 2px;
  background-color: var(--primary-color);
  margin: 4px auto 0 auto;
}

@media (max-width: 800px) {
  .section-tittle h3 {
      font-size: 1.2rem;

  }
}